@font-face{
	font-family: KaushanScript;
	src: url(../fonts/KaushanScript-Regular.ttf);
}
@font-face{
	font-family: Montserrat-Bold;
	src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face{
	font-family: Montserrat-Regular;
	src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face{
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
	font-family: Roboto-LightItalic;
	src: url(../fonts/3963.ttf);
}
::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #95e1d3;
    border-radius: 15px;
}
::-webkit-scrollbar-track{
	background-color: #f5f5f5;
}
.text-center{
	text-align: center;
}
#wrapper{
	width:100%;
	border:1px solid #fff;
}

#header{
	background: url(../img/Header/bgheader.jpg) no-repeat top center;
	background-size: 100% 100%;
	min-width: 1400px;
}
#header-menu{
	height:76px;
	max-width:1500px;
	min-width: 1000px;
	margin:0px auto;
}
#logo,#menu{
	box-sizing: border-box;
	float:left;
	width:49.7%;
	height:76px;
}

#logo p{
	font-family: 'Montserrat-Bold';
	font-size: 30pt;
	color:#ffffff;
	margin:30px 0 0 284px;
}
#menu ul{
	margin-left: -43px;
	margin-top:40px;
}

#menu ul li{
    display: inline-block;
    margin-right: 20px;
}
#menu ul li:last-child{
    margin-right: 0;
}
#menu ul li a{
	font-family: 'Montserrat-Regular';
	font-size: 14pt;
	text-decoration: none;
	color:#ffffff;
}

#menu ul li.active a{
  padding-bottom: 8px;
  border-bottom: 4px solid #fce38a;
  color: #fce38a;	
}
#menu ul li a:hover{
  padding-bottom: 10px;
  border-bottom: 4px solid #fce38a;
  color: #fce38a;
}
#main-logo{
  max-width:1500px;
  min-width: 1000px;
  margin:0px auto;
  border:1px solid transparent;
}
#header-text1{
	font-family: 'KaushanScript';
	font-size: 72pt;
	text-align: center;
	color:#ffffff;
	margin-top: 160px;
}
.header-text2{
	font-family: 'Montserrat-Bold';
	font-size: 150pt;
	text-align: center;
	color:#ffffff;
	margin-top: 60px;
}
#tomogo{
	margin-top: 0;
}
#line-block{
	display: block;
	border:3px solid #ffffff;
	width:62px;
	margin:50px auto;
}
#learn-more{
	display: block;
	border:5px solid #ffffff;
	width:160px;
	height:40px;
	text-align: center;
	margin:0px auto;
	font-family: 'Montserrat-Bold';
	font-size: 14pt;
	color:#ffffff;
	box-sizing: border-box;
	padding-top: 6px;
	text-decoration: none;
}
#slider-block{
	width:1225px;
	margin:0px auto;
	box-sizing: border-box;
}
.slider{
	width:280px;
	border-top:4px solid #f8ebc5;
	float:left;
	margin-top:157px;
	margin-right: 34px;
	box-sizing: border-box;
	padding-top: 25px;
	font-family: 'Montserrat-Bold';
	font-size: 14pt;
	color:#f8ebc5;
	margin-bottom: 28px;
}
.slider span{
	font-size: 12pt;
}
.slider:last-child{
	margin-right: 0px;
}
.clear{
	clear:both;
}
#story-about-us{
	min-width: 1400px;
	background-color: #ffffff;
}
#story-title,#story-image-block{
   max-width: 1500px;
   min-width: 1000px;
   margin:0px auto;
}
#story-text1,#services-text1,#unique-design-text1,#what-we-do-text1{
	font-family: 'KaushanScript';
	font-size: 24pt;
	text-align: center;
	padding-top:94px;
}
#story-text2,#services-text2,#unique-design-text2,#what-we-do-text2{
	font-family: 'Montserrat-Bold';
	font-size: 30pt;
	text-align: center;
	padding-top: 28px;
}
.red-line{
	display:block;
	width:62px;
	border:3px solid #f38181;
	margin:40px auto 0px auto;
}
.story-text3{
   font-family: 'Roboto-Regular';
   font-size: 15pt;
   color: #999999;
   padding-top: 50px;
   text-align: center;
}
#story-text3{
	padding-top: 18px;
}
#story-image-block{
	border:1px solid transparent;
	box-sizing: border-box;
	min-width: 1225px;
	padding-top: 104px;
	padding-bottom: 110px;
	text-align: center;
}
#story-image-block img{
	margin-right: 32px;
	display:inline-block;
}
#story-image-block img:last-child{
	margin-right: 0;
}
#story-statistics{
	min-width: 1400px;
	height:270px;
	background-color: #95e1d3;
}
#statistics{
	margin:0px auto;
	max-width: 1246px;
	min-width: 1225px;
	height:270px;
	text-align: center;
}
#statistics div{
	display:inline-block;
	width:241px;
	height:270px;
	border-left: 1px solid #b5eae0;
}
#statistics div:last-child{
 border-right: 1px solid #b5eae0;	
}
#statistics div span{
	display: block;
	color:#ffffff;
	text-align: center;
}
#statistics div .digit{
	font-family: 'Montserrat-Bold';
	font-size: 72pt;
	margin-top:63px;
}
#statistics div .text{
	font-family: 'Montserrat-Regular';
	font-size: 14pt;
	margin-top:28px;
}
#amaizing-services{
	width:100%;
	min-width: 1400px;
	padding-bottom: 120px;
}
#services-block{
	min-width: 1000px;
	max-width: 1500px;
    margin:0px auto;
}
.services-items{
	float:left;
}
.services-items-block{
	margin-left:26px;
	width:284px;
}
.services-items .services-title{
	font-family: 'Montserrat-Regular';
	font-size: 14pt;
	color:#000000;
	text-align: left;
}
.services-items .services-text{
	font-family: 'Roboto-Regular';
	font-size: 11pt;
	color:#b6b6b6;
	margin-top:7px;
	line-height: 19px;
	text-align: left;
}

.services-container{
	width:100%;
    text-align: center;
    margin-top:64px;
}
#services-container-last{
	margin-top:0px;
}
.container-item{
	display: inline-block;
	margin-right:66px;
}
.container-item:last-child{
	margin-right: 0;
}
.grey-line{
	display: block;
	width: 1200px;
	border-bottom:2px solid #e5e5e5;
	margin:50px auto;
}
#unique-design{
	width:100%;
	min-width: 1400px;
	background: url(../img/UniqueDesign/bg.jpg) no-repeat center top;
	background-size: 100% 100%;
	height:870px;
}
#unique-design-block{
	position: relative;
	max-width: 1500px;
	min-width: 1000px;
	margin: 0px auto;
	height:100%;
}
#ipad{
	position: absolute;
	left:505px;
	bottom: 0px;
}
#iphone{
	position: absolute;
	left:868px;
	bottom: -85px;
}
#what-we-do{
	width:100%;
	min-width: 1400px;
}
#what-we-do-container{
	min-width: 1000px;
	max-width: 1500px;
	margin:0px auto;
}
#what-we-do-block{
	width:100%;
	text-align: center;
	margin:90px 0 122px 0;
}
#what-we-do-block img,section{
  display:inline-block;
}

.ac-container{
	width: 500px;
	margin-left: 20px;
	vertical-align: top;
}

.ac-container label{
	font-family: 'Montserrat-Regular';
	padding: 4px 20px 0px 40px;
	position: relative;
	z-index: 20;
	display: block;
	height: 40px;
	cursor: pointer;
	color: #000;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 14pt;
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	border-bottom:1px solid #e5e5e5;
	text-align: left;
}
.ac-container div{
	border:1px solid #e5e5e5;
	margin-top:5px;
}
.ac-container div:first-child{
	margin-top:0;
}
.ac-container div *{
	box-sizing: border-box;;
}
.ac-container input{
	display: none;
}
.ac-container label:hover{
	background: #f8f8f8;
}
.ac-container label:after,
.ac-container input:checked + label:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 8px;
	background: transparent url(../img/WhatWeDo/arrowdown.png) no-repeat center center;	
}
.ac-container label:before,
.ac-container input:checked + label:before{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	left: 9px;
	top: 7px;
	background: transparent url(../img/WhatWeDo/picture.png) no-repeat center center;	
}
.ac-container div:nth-child(2) label:before
{
   background-image: url(../img/WhatWeDo/equalizer.png);
   background-size: 100% 100%;
}
.ac-container div:last-child label:before
{
   background-image: url(../img/WhatWeDo/bullseye.png);
   background-size: 100% 100%;
}
.ac-container input:checked + label:after{
	background-image: url(../img/WhatWeDo/arrowup.png);
}
.ac-container article{
	background-color:#ffffff;
	margin-top: -1px;
	overflow-y: auto;
	height: 0px;
	width:480px;
	position: relative;
	z-index: 10;
	text-align: left;
	transition: 
		height 0.3s ease-in-out, 
		box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
	transition: 
		height 0.5s ease-in-out;
		margin:5px;
}

.ac-container article p{
	font-style: italic;
	color: #cacaca;
	font-size: 15pt;
	margin:10px 10px 20px 10px;
}
.ac-container input:checked ~ article.ac-small{
	height: 239px;
}
#quote{
	width:100%;
	min-width: 1400px;
	height:290px;
	background-color: #f8f8f8;
}
#quote-container{
	max-width: 1500px;
	min-width: 1000px;
	margin:0px auto;
	height:100%;
	border:1px solid transparent;
}
#quote-center-block{
	text-align: center;
	margin-top: 70px;
}
.img-arrow,#quote-comment{
  display: inline-block;
  vertical-align: middle;
}
#quote-comment{
	text-align: center;
	margin:0 50px;
}
#quote-comment img,#comment{
	display: inline-block;
	vertical-align: top;
}
#comment{
	margin-left:30px;
	width:500px;
	text-align: left;
}
#comment #quote-comment-text{
	font-family: 'Roboto-LightItalic';
	font-size: 24px;
	color:#999999;
}
#comment-red-line{
	text-align: left;
	margin:41px 0 0 0;
	float:left;
}
#comment-author{
	margin-top:41px;
	font-family: 'KaushanScript';
	font-size: 18px;
	float:left;
	margin-left:15px;
	margin-top:32px;
}
#meet-our-team{
	width:100%;
	min-width: 1400px;
	background-color: #ffffff;
}
.main-container{
	width:100%;
	min-width: 1400px;
	background-color: #fff;  
}
.container{
	max-width: 1500px;
	min-width: 1000px;
	margin:0px auto;
}
#meet-gallery{
	padding-top:100px;
	text-align:center;
}
.item-meet{
	display: inline-block;
	margin-right: 30px;
	padding-bottom:120px;
}
.item-meet:last-child{
	margin-right: 0px;
}
.name-author{
	margin-top:30px;
	font-family: 'Montserrat-Regular';
	font-size: 14px;
	color:#000;
}
.degree{
	margin-top: 20px;
    font-family: 'Roboto-LightItalic';
    font-size: 13px;
    color:#c3c3c3;
}
#icons{
 background-color: #f5f5f5;
}
.item-icon{
	width:130px;
	height:120px;
	display: inline-block;
	margin:70px 0;
	vertical-align: middle;
	margin-right: 110px;
}
.item-icon:last-child{
	margin-right: 0px;
}
#photo-gallery{
	height:780px;
	background: url(../img/SameOfOurWork/picture.jpg)
	no-repeat center top;
	background-size: 100% 100%;
	margin-top:100px;
}
#same-of-our-work .container #quote-center-block #quote-comment #comment{
	margin-top: 30px;
}

#same-of-our-work .container:last-child{
	padding:100px 0 100px 0;
}
#same-of-our-work .container #quote-center-block{
	margin:0;
}